:root {
    --lightcolor: #efefef;
    --green-900: #22543d;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #272727, #272727;
 /* background-image: linear-gradient(351deg, rgba(218, 218, 218,0.04) 0%, rgba(218, 218, 218,0.04) 46%,rgba(145, 145, 145,0.04) 46%, rgba(145, 145, 145,0.04) 75%,rgba(71, 71, 71,0.04) 75%, rgba(71, 71, 71,0.04) 100%),linear-gradient(57deg, rgba(218, 218, 218,0.04) 0%, rgba(218, 218, 218,0.04) 43%,rgba(145, 145, 145,0.04) 43%, rgba(145, 145, 145,0.04) 49%,rgba(71, 71, 71,0.04) 49%, rgba(71, 71, 71,0.04) 100%),linear-gradient(204deg, rgba(218, 218, 218,0.04) 0%, rgba(218, 218, 218,0.04) 63%,rgba(145, 145, 145,0.04) 63%, rgba(145, 145, 145,0.04) 86%,rgba(71, 71, 71,0.04) 86%, rgba(71, 71, 71,0.04) 100%),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); */
    background-image: url('https://raw.githubusercontent.com/pseudoforceyt/smp/master/docs/media/bghq.jpg'), url('https://raw.githubusercontent.com/pseudoforceyt/smp/master/docs/media/bglq.jpg');
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-attachment: fixed, fixed;
    background-position: center, center;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    transition: all 0.2s ease;
}

.layoutfooter, .layoutfooter a {
    color: #888;
}

 body .dbutton {
	 width: 60px;
	 height: 50px;
	 background: #5865F2;
	 position: relative;
	 margin-bottom: 25px;
	 border-radius: 32px;
	 text-align: center;
	 cursor: pointer;
	 transition: all 0.1s ease-in-out;
     position: fixed;
     bottom: -20px;
     right: 4px;
}
 body .dbutton span {
	 line-height: 50px;
	 font-family: "Jost", sans-serif;
	 font-size: 20px;
	 font-weight: semibold;
}
 body .dbutton:nth-child(1) {
	 box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
	 color: #f3f0f1;
}
 body .dbutton:nth-child(1):hover {
	 opacity: 0.3;
	 box-shadow: 0px 0px 20px rgb(255 255 255), 6px 6px 10px rgb(255 255 255);
}
 body .dbutton:nth-child(1):active {
	 opacity: 1;
	 box-shadow: inset 0px 0px 8px rgb(255 255 255), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
	 color: #79e3b6;
}
 body .dbutton:nth-child(2) {
	 opacity: 0.3;
	 box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
	 color: #6f6cde;
}
 body .dbutton:nth-child(3) {
	 box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
	 color: #79e3b6;
}
 body .dbutton:nth-child(3):hover {
	 opacity: 1;
	 box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
 

.cbsitehover {
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
}
    .cbsitehover2 {
        overflow: hidden;
    }
    .cbsitehover:hover {
        transform: scale(1.15);
    }

.ccdiscordjoin {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
    .ccdiscordjoin:after {
        content: '\25B8';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    button.ccdiscordjoinpre:hover span {
    padding-right: 20px;
    }
    button.ccdiscordjoinpre:hover .ccdiscordjoin:after {
        opacity: 1;
        right: 0;
    }

.ccinfoframe {
    width: 100%;
    height: 80vh;
    min-height: 600px;
    max-height: 900px;
}

.ccmorecells {
    height: 200px;
}

.visited\:bg-gray-600:visited {
    --bg-opacity: 1;
    background-color: #718096;
    background-color: rgba(113,128,150,var(--bg-opacity));
}

@media screen and (min-width: 1024px) {
    .ccinfoframe {
        width: 45.5vw;
        height: 80vh;
        min-height:600px;
        max-height: 900px;
    }
    .ccmorecells {
        height: 400px;
    }
}

#snackbar {
    visibility: hidden;
    min-width: 8em;
    margin-left: -4em;
    text-align: center;
    position: fixed;
    z-index: 30;
    left: 50%;
    bottom: 30px;
}
    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2s;
        animation: fadein 0.5s, fadeout 0.5s 2s;
    }
    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 30px; opacity: 1;}
    }
    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }
    @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;} 
        to {bottom: 0; opacity: 0;}
    }
    @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

